<div class="p-d-flex p-ai-center p-jc-between p-p-3">

    <div class="p-d-flex p-ai-center">
        <div class="icon-rectangle">
            <img  src='assets/icons/video-icon.svg'>
            </div>            
        <h3 class="p-pl-3 m-0"> Introduction to {{title}}</h3>
    </div>


<img src="assets/icons/close.svg" class="close cursor-pointer" (click)="closePopup()" alt="">
</div>


<div class="p-p-5 container">
<div class="p-d-flex p-flex-column p-ai-center p-jc-between p-text-center video-wrapper">
    <div>
    <h1>A Quick Introduction to {{title}}</h1>
    <span>{{description}}</span>
    <div class="p-d-flex p-jc-center mt-6">
        <img src="assets/icons/resume-icon.svg" alt="">
    </div>
</div>

    <div class="p-d-flex p-as-end">
        <img src="assets/images/deal-signal-logo.svg" alt="">
    </div>
</div>
</div>