@import "src/variables.scss";

.filter-section {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  color: $bg-dark-gray;
  font-size: 12px;
  font-weight: 700;
  i {
    font-size: 16px;
    cursor: pointer;
  }
  span {
    letter-spacing: 5px;
  }
}

.option-list {
  margin-right: 7px;
}

.filter-icon {
  width: 30px;
  font-size: 16px;
}

.other-filter {
  height: calc(100vh - 330px);
  overflow-y: overlay;
  transition: 0.5s;
}

.tab-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .tab-chips {
    border: 1px solid $border-light-dark;
    border-radius: 15px;
    margin-right: 5%;
    width: 50px;
    padding: 2px;
    color: $bg-primary;
    text-align: center;
    i {
      font-size: 10px;
      color: $bg-dark-gray;
      margin-left: 5px;
    }
  }
}

.more-filters {
  font-size: 14px;
  color: $bg-active;
  font-weight: 600;
  margin: 5px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 15px;
  i {
    font-size: 16px;
  }
  span {
    margin: 11px;
  }
}

.contact-settings-filter {
  ul {
    list-style: none;
    padding: 0px;
    color: $bg-dark-gray;
    li {
      display: flex;
      font-size: 14px;
      font-weight: 600;
      justify-content: space-between;
      margin: 5px;
      margin-bottom: 10px;
    }
  }
}

.tenure-info {
  font-size: 13px;
  line-height: 1.5;
  border: 1px solid $border-light-dark;
  border-radius: 5px;
  padding: 10px;
  color: $bg-dark-gray;
  .close-btn {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    height: 35px;
  }
}

.hidden-filter {
  &.hide {
    transition: 0.5s;
    display: none;
  }

  &.show {
    transition: 0.5s;
    display: block;
  }
}
