<div class="form-container p-p-3 flex justify-content-start h-screen overflow-auto">
  <div class="card p-3">
    <a class="back-link" (click)="redirectToLogin()"><i class="fas fa-arrow-left mr-2"></i>Back</a>
    <div class="form-wrapper">
      <h3 class="my-3">Reset My Password</h3>
      <div class="p-fluid p-formgrid p-grid">
        <form class="w-full" name="form" (ngSubmit)="forgotForm.form.valid && resetPassword()" #forgotForm='ngForm'
          novalidate>
          <div class="p-field p-col-12 mb-5">
            <label for="email">Enter Email</label>
            <input id="email" #email="ngModel" pTooltip="Enter Register Email" type="email" name="email"
              [(ngModel)]="user.email" pInputText required email
              pattern="\b[\w\.-]+@((?!gmail|googlemail|yahoo|hotmail|outlook|live).)[\w\.-]+\.\w{2,4}\b" />
            <div *ngIf="email.invalid && (email.touched || forgotForm.submitted)" class="error-message">
              <span *ngIf="email.errors?.required">Email is required</span>
              <span *ngIf="email.errors?.email || email.errors?.pattern">Please enter a valid business email</span>
              <i class="fas fa-exclamation-circle"></i>
            </div>
          </div>

          <div class="p-field p-col-12 p-mt-5">
            <button pButton type="submit" label="Reset my password"></button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<app-background></app-background>
