<div class="content">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat aliquid animi iste deleniti, natus quisquam tempore laudantium, mollitia ipsa odit et iusto assumenda, accusamus illum reiciendis? Quos, aut quasi.</p>
</div>

<div class="p-dialog-footer">
<button pButton type="button" label="Decline" (click)='decline()' class="btn bg-white text-primary"></button>
<button pButton  label="Accept" (click)='accept()'></button>
</div>