//background colors
$bg-light: #FFFFFF;
$bg-dark: #000;
$bg-secondary: #FBFBFD;
$bg-extra-light: #EDEDF4;
$bg-primary: #1991EB;
$bg-parrot-green: #6FCF97;
$bg-dark-gray: #8181a5;
$bg-active: #E7004C;
$bg-light-dark: #F5F5FA;
$bg-orange: #FFAA00;
$bg-dim-orange: #f9d1ce;
$bg-gray-shade: #aaa;
$bg-dark-green: #27AE60;
$bg-light-red: rgba(255, 128, 139, 0.1);
$bg-light-green: #e2ffee;
$bg-light-orange: #fff2dd;
$bg-light-primary: rgba(43, 174, 249, 0.15);
$bg-dard-midnight-blue: #094875;
$bg-hover: #f7f7f7;
$bg-dark-blue: #0F2D45;
$bg-light-blue:  #60b3f1;
$bg-green: #47DC8A;
$bg-lighter: #FEFEFE;
$bg-purple-opacity: #E7ECFF;
$bg-pink-opacity: #F5F5F5;
$bg-yellow-opacity: #FFEFC7;
$bg-back: rgba(150, 152, 214, 0.1);

//heading colors
$heading-dark: #1D334F;
//text colors
$text-black: #000;
$text-dark: #1D334F;
$text-gray: #929292;
$text-dark-gray: #8181A5;
$text-light: #FFFFFF;
$text-secondary: #E1E2E3;
$text-light-dark: #c0c0ca;
$text-primary: #1991EB;
$text-danger: #ff6562;
$text-danger-dark: #eb5757;
$text-active: #E7004C;
$text-success: #27AE60;
$text-light-green: #6fcf97;
$text-bright-orange: #f2994a;
$text-gray-shade: #888;
$text-red: #EB5757;
$text-light-shade: #CEC6C6;
$text-purple: #5E81F4;
$text-warning: #FFA200;
$text-light-gray: #979797;
//border colors
$border-dark: rgba(129, 129, 165, 0.4);
$border-light: #FFFFFF;
$border-secondary: #C0C0CA;
$border-light-dark: #ddd;
$border-dim-light: #EDEDF4;
$border-extra-light: #ccc;
$border-active: #E7004C;
$border-light-gray: #F5F5FA;
$border-dark-gray: #8181a5;
$border-darked: #8181a566;
$border-lighter: #dee2e6;
$border-light-gray-shade: #aaa;
$border-gray-shade: #555;
$border-dark-blue: rgba(25, 145, 235, 0.5);
$border-darker: rgba(54, 54, 156, 0.2);
$border-light-shade: #D8D8D8;
//button colors
$button-primary: #1991EB;
$button-seconday: #094875;
$button-light: #FFFFFF;
//shadow color
$shadow-dark: rgba(0, 0, 0, 0.05);
$shadow-light: rgba(0, 0, 0, 0.03);
$shadow-red: #ffe8e8e6;
$shadow-black: #0000000d;
$shadow-light-gray: #aaa;
//Tab-view border colors
$tab-view-border: #dee2e6;
